<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2014 mlanoe
 Some rights reserved. See COPYING, AUTHORS.
   
 Contributors:
     mlanoe - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/1.0"
            class="net.mlanoe.language.vhdl.VhdlPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/statement/1.0"
            class="net.mlanoe.language.vhdl.statement.StatementPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/expression/1.0"
            class="net.mlanoe.language.vhdl.expression.ExpressionPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/declaration/1.0"
            class="net.mlanoe.language.vhdl.declaration.DeclarationPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/type/1.0"
            class="net.mlanoe.language.vhdl.type.TypePackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/nature/1.0"
            class="net.mlanoe.language.vhdl.nature.NaturePackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/ams/1.0"
            class="net.mlanoe.language.vhdl.ams.AmsPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vhdl -->
      <package
            uri="http://mlanoe.net/language/vhdl/configuration/1.0"
            class="net.mlanoe.language.vhdl.configuration.ConfigurationPackage"
            genModel="model/vhdl.genmodel"/>
   </extension>

</plugin>
